/* Right-align Scalar Studios only */
.navbar-right {
    float: right !important;
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #23232b;
    font-family: "Gill Sans", sans-serif;
    border: 2px solid #4fc3f7;
    box-shadow: 0 4px 8px rgba(33, 150, 243, 0.2);
}

.navbar li {
    float: left;
    font-family: "Gill Sans", sans-serif;
}

.navbar a,
.navbar .dropbtn {
    display: inline-block;
    color: #4fc3f7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover,
.navbar .dropdown:hover .dropbtn {
    background-color: #263238;
    color: #82b1ff;
}

.navbar .dropdown {
    display: inline-block;
}

.navbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #23232b;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.navbar .dropdown-content a {
    color: #4fc3f7;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: background-color 0.3s, color 0.3s;
}

.navbar .dropdown-content a:hover {
    background-color: #263238;
    color: #82b1ff;
}

.navbar .dropdown:hover .dropdown-content {
    display: block;
}

/* Add a subtle animation for a metallic shine effect */
@keyframes metallic-shine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}